:root {
    --primary-color: #4CAF50;   
    --secondary-color: #FF9800;
    --background-color: #FAFAFA;
    --text-color: #212121;
    --success-color: #388E3C;
    --error-color: #D32F2F;
    --warning-color: #F57C00;
    --info-color: #1976d2;
}

body {
    max-width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-container {
    width: 100vw;
}