:root {
    --primary-1: #357a38;   
    --primary-2: #3d8b40;
    --primary-3: #449d48;
    --primary-4: #4caf50;
    --primary-5: #5cb860;
    --primary-6: #6ec071;
    --primary-7: #bdf5bf;
    --secondary: #ff9900;
    --background: #dbdbdb;
    --text: #212121;
    --success: #388E3C;
    --error: #D32F2F;
    --warning: #F57C00;
    --info: #1976d2;
}

body {
    max-width: 100%;
    background-color: var(--background);
    color: var(--text);
}

.main-container {
    width: 100vw;
}